@using MarketPlace.Application.Extensions
@model MarketPlace.DataLayer.DTOs.Seller.FilterSellerDTO
@{
    ViewData["Title"] = "درخواست های فروشندگی";
}

<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/">خانه</a></li>
                        <li>@ViewData["Title"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="main_content_area">
    <div class="container">
        <div class="account_dashboard">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <!-- Nav tabs -->
                    @await Component.InvokeAsync("UserSidebar")
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <form asp-area="User" asp-controller="Seller" asp-action="SellerRequests" method="get" id="filter-form">
                        <input type="hidden" asp-for="PageId"/>
                        <input type="hidden" asp-for="Address"/>
                        <input type="hidden" asp-for="Mobile"/>
                        <input type="hidden" asp-for="StoreName"/>
                    </form>
                    <!-- Tab panes -->
                    <div class="tab-content dashboard_content">
                        @if(Model.Sellers != null && Model.Sellers.Any())
                        {
                            
                        <div class="tab-pane fade active show" id="orders">
                            <h3>@ViewData["Title"]</h3>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>شناسه</th>
                                            <th>نام فروشگاه</th>
                                            <th>تلفن تماس</th>
                                            <th>وضعیت</th>
                                            <th>دستورات</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var seller in Model.Sellers)
                                        {
                                            <tr>
                                                <td>@seller.Id</td>
                                                <td>@seller.StoreName</td>
                                                <td><span class="success">@seller.Phone</span></td>
                                                <td><span class="success">@seller.StoreAcceptanceState.GetEnumName()</span></td>
                                                <td><a asp-area="User" asp-controller="Seller" asp-action="EditeRequestSeller" asp-route-sellerId="@seller.Id" class="view">ویرایش</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <partial name="_PagingPartial" model="@(Model.GetBasePaging())"/>
                        }else
                        {
                            <partial name="_NoItemFound"/>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




